<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Choice Page</title>
  <link rel="stylesheet" href="/static/css/choice.css">
</head>
<body>
  

  <div id="container" style="display:flex; flex-direction:row; align-item:center; justify-center:center;gap:4rem;">
    <div id="cont1" style="background-color:black; border-radius:0.8rem;padding:10rem;">
      <h1>Take Quiz</h1>
      <a href="/Quize" target="_parent"><button>Take Quiz</button></a>
    </div>
    <div id="cont2"style="background-color:black; border-radius:0.8rem;padding:8rem;">
      <h1>Take Interview</h1>
      <a href="/interView" target="_parent"><button>Take Interview</button></a>
    </div>
  </div>

</body>
</html>
