<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>takeInterview.io. 🪀 — Digital Interview Experience</title>
    <link rel="shortcut icon" href="https://assets-global.website-files.com/64a2ab71942e1d57feb6fe39/6528221f95333ff155d01ad2_fav.gif" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css">
    <link rel="stylesheet" href="/static/css/interface.css">
    <script src="/static/js/interface.js"></script>
    
</head>

<body>
    <nav>
        <h1>INTERVIEW-AI.io</h1>
        <div class="nav-part2">
            <div class="nav-elem">
                <h4>Case Studies</h4>
                <h5><span>Studies</span></h5>
            </div>
            <div class="nav-elem">
                <h4>Areas of Uses</h4>
                <h5><span>AI & ML</span></h5>
                <h5><span>LLM</span></h5>
                <h5><span>Text to Voice</span></h5>
                <h5><span>Voice ot Text</span></h5>
                <h5><span>Web 3</span></h5>
            </div>
            <div class="nav-elem">
                <h4>UIUX Design</h4>
                <h5><span>HTML</span></h5>
                <h5><span>CSS</span></h5>
                <h5><span>Javascript</span></h5>
                <h5><span>Web 3</span></h5>
            </div>
            <div class="nav-elem">
                <h4>PRoduct design</h4>
                <h5><span>AI avatar </span></h5>
                <h5><span>Queize</span></h5>
                <h5><span>Shortlisting</span></h5>
            </div>
            <div class="nav-elem">
                <h4>Guide</h4>

                <h5><span>HOD</span></h5>
                <h5><span>Sandip Shinde</span></h5>
            </div>
            <div class="nav-elem">
                <h4>About</h4>
                <h5><span>Groupt 38</span></h5>
                <h5><span>EDI</span></h5>
                <h5></h5>
                <h5><span></span></h5>
            </div>
        </div>
        <button id="interviewButton">Let's Start<svg fill="none" viewBox="0 0 20 20">
                <path fill="#fff"
                    d="M2.5 14.375V17.5h3.125l9.217-9.217-3.125-3.125L2.5 14.375Zm14.758-8.508a.83.83 0 0 0 0-1.175l-1.95-1.95a.83.83 0 0 0-1.175 0l-1.525 1.525 3.125 3.125 1.525-1.525Z">
                </path>
            </svg></button>
          
            
        <div id="nav-bottom">

        </div>
    </nav>
    <div id="main">
        <div id="page1">
            <h1>AI B<span><svg class="c-bttn__morph" fill="none" viewBox="0 0 131 136">
                        <path class="g-path" data-morph="end" fill="#fff"
                            d="M48 77.457v7.224h7.224l21.307-21.306-7.224-7.225L48 77.457Zm34.118-19.67a1.919 1.919 0 0 0 0-2.716l-4.508-4.508a1.919 1.919 0 0 0-2.716 0l-3.526 3.526 7.224 7.224 3.526-3.525Z">
                        </path>
                        <path class="g-path" data-morph="start" fill="#fff"
                            d="M48 77.457v7.224h7.224l21.307-21.306-7.224-7.225L48 77.457Zm34.118-19.67a1.919 1.919 0 0 0 0-2.716l-4.508-4.508a1.919 1.919 0 0 0-2.716 0l-3.526 3.526 7.224 7.224 3.526-3.525Z"
                            data-original="M65.72 109.14c10.08 0 17.76-3.78 23.04-11.34 5.4-7.68 8.1-17.64 8.1-29.88 0-12.24-2.7-22.2-8.1-29.88-5.28-7.68-12.96-11.52-23.04-11.52-9.96 0-17.7 3.84-23.22 11.52-5.4 7.68-8.1 17.64-8.1 29.88 0 12.12 2.7 22.02 8.1 29.7 5.52 7.68 13.26 11.52 23.22 11.52Zm46.08 7.02c-11.64 12.6-27.06 18.9-46.26 18.9s-34.62-6.3-46.26-18.9C7.76 103.56 2 87.48 2 67.92c0-19.56 5.76-35.64 17.28-48.24C30.92 7.08 46.34.78 65.54.78s34.62 6.3 46.26 18.9c11.64 12.6 17.46 28.68 17.46 48.24 0 19.56-5.82 35.64-17.46 48.24Z">
                        </path>
                    </svg></span>T</h1>
            <h1>Interview & Quizes</h1>
            <p>Created system to get real life interview <br>Experience
                by ai avatar</p>
            <div id="page1-something">
                <h4>online test</h4>
                <h4>real life Experience</h4>
                <h4>and</h4>
                <h4>Quick Result</h4>.
            </div>
            <div id="moving-div">
                <div id="blur-left"></div>
                <div class="move">
                    <!-- <img src="https://lazarev.kiev.ua/la24/forbes.svg" alt=""> -->
                    <img src="https://lazarev.kiev.ua/la24/adweek.svg" alt="">
                    <img src="https://lazarev.kiev.ua/la24/pmi.svg" alt="">
                    <img src="https://lazarev.kiev.ua/la24/wf.svg" alt="">
                    <img src="https://lazarev.kiev.ua/la24/adweek.svg" alt="">
                    <img src="https://lazarev.kiev.ua/la24/rd.svg" alt="">
                    <img src="https://lazarev.kiev.ua/la24/pmi.svg" alt="">
                    <img src="https://lazarev.kiev.ua/la24/webby.svg" alt="">
                </div>
                <div class="move">
                    <!-- <img src="https://lazarev.kiev.ua/la24/forbes.svg" alt=""> -->
                    <img src="https://lazarev.kiev.ua/la24/adweek.svg" alt="">
                    <img src="https://lazarev.kiev.ua/la24/pmi.svg" alt="">
                    <img src="https://lazarev.kiev.ua/la24/wf.svg" alt="">
                    <img src="https://lazarev.kiev.ua/la24/adweek.svg" alt="">
                    <img src="https://lazarev.kiev.ua/la24/rd.svg" alt="">
                    <img src="https://lazarev.kiev.ua/la24/pmi.svg" alt="">
                    <img src="https://lazarev.kiev.ua/la24/webby.svg" alt="">
                </div>
                <div id="blur-right"></div>

            </div>
        </div>
        <div id="page2">
            <div id="page2-left">
                <p>deep dive into knowledge <br></p>
                <h5>Being good in every technology by giving mock test's</h5>
            </div>
            <div id="page2-right">
                <div class="right-elem" id="right-elem1">
                    <h2>How to Design An AI InterFace Users will</h2>
                    <img src="ai avatar banner.jpg"
                        alt="">
                </div>
                <div class="right-elem">
                    <h2>AI avatar Generator</h2>
                    <img src="ai avatar genrator.jpg"
                        alt="">
                </div>
                <div class="right-elem">
                    <h2>Interview Like Experience</h2>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmd3NMhiSrPZby2DgkJgxJyvQ1e5uPtdjtpw&s"
                        alt="">
                </div>
                <div class="right-elem">
                    <h2>Online Queize(MCQ)</h2>
                    <img src="online Quize.jpg"
                        alt="">
                </div>
            </div>

        </div>
        <div id="page3">
            <video src="https://youtu.be/5uQvyDguEoI?t=37"></video>
            <div class="page3-center">
                <div class="icon">
                    <i class="ri-play-fill"></i>
                </div>
                <h5>Watch Showreel</h5>
            </div>
        </div>
        <div id="page4">
            <div class="section">
                <div class="sec-left">
                    <h2>Planet AI</h2>
                    <p>
                        The text introduces a tool called WShare Verbo for generating realistic Avatar videos quickly. It outlines features like avatars, script writing AI, video translation, and talking photos. Users can select avatars from a diverse range and customize scripts, voices, backgrounds, and music. The tool also offers video translation into various languages.</p>
                </div>
                <div class="sec-right">
                    <img src="https://assets-global.website-files.com/64a5e6675a4159253d0ee3e0/65a93ac90b586168e5917ac8_Rhea%20-%20cover_horizontal_low.webp"
                        alt="">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/g94mFXMp1gU" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="section">
                <div class="sec-left">
                    <h2>AfroTech</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit inventore enim, quos, qui est
                        id, architecto libero in esse vel officiis repellat alias maxime minima.</p>
                </div>
                <div class="sec-right">
                    <img src="websitefrontend.png"
                        alt="">
                    <video src="Free Ai Expression Changer _ Change Facial Expressions Of Your Ai Influencer.mp4" muted ></video>
                </div>
            </div>
        </div>
        <div id="page5">
            <button>Research Paper</button>
            <div id="page5-right">
                <p><span></span><span></span></p>
                <div id="page5-content">
                    <div class="uiux">
                        <details open>
                            <summary>
                                <h1>UI/UX Design</h1>
                                <div id="flex">
                                    <h4>Avatar Rendering</h4>
                                    <h4>Voice Synthesis</h4>
                                    <h4>Web Design</h4>
                                    <h4>API Integration</h4>
                                </div>
                            </summary>
                            <div id="page-container">
                                <div class="page5-elem">
                                    <div class="over"></div>
                                    <h3>Avatar Rendering:</h3>
                                    <p>To create the AI avatar for the interview, you'll need technology for avatar rendering. This could involve using pre-built avatar models or generating custom avatars based on user preferences..</p>
                                    <i class="ri-arrow-right-up-line"></i>
                                </div>
                                <div class="page5-elem">
                                    <div class="over"></div>
                                    <h3>Voice Synthesis</h3>
                                    <p>it's an avatar interview, you might want the AI avatar to speak the questions and responses. Voice synthesis technology can generate human-like speech from text inputs. Libraries like Google Text-to-Speech or Amazon Polly can be useful here.</p>
                                    <i class="ri-arrow-right-up-line"></i>
                                </div>
                                <div class="page5-elem">
                                    <div class="over"></div>
                                    <h3>Web or Mobile Frontend</h3>
                                    <p>You'll need a frontend interface for users to interact with the AI avatar interview bot. This could be a web application or a mobile app, built using technologies like flask, django, or Flutter..</p>
                                    <i class="ri-arrow-right-up-line"></i>
                                </div>
                                <div class="page5-elem">
                                    <div class="over"></div>
                                    <h3>API Integration</h3>
                                    <p>for Question Generation we have integrated  google gemini api that will generate questions as well as answer's regarding this</p>
                                    <i class="ri-arrow-right-up-line"></i>
                                </div>
                            </div>
                        </details>
                    </div>
                    <div class="product">
                        <details>
                            <summary>
                                <h1>Product Design</h1>
                                <div id="flex">
                                    <h4>UX Audit</h4>
                                    <h4>UI Design</h4>
                                    <h4>UX Design</h4>
                                    <h4>UX Research</h4>
                                </div>
                            </summary>
                            <div id="page-container">
                                <div class="page5-elem">
                                    <div class="over"></div>
                                    <h3>UX Research</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus consequatur
                                        error, enim in iure distinctio, pariatur quibusdam nobis dolor laborum nulla
                                        animi mollitia voluptas odit, praesentium magni. Exercitationem, tenetur? Illum,
                                        ducimus.</p>
                                    <i class="ri-arrow-right-up-line"></i>
                                </div>
                                <div class="page5-elem">
                                    <div class="over"></div>
                                    <h3>UX Design</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus consequatur
                                        error, enim in iure distinctio, pariatur quibusdam nobis dolor laborum nulla
                                        animi mollitia voluptas odit, praesentium magni. Exercitationem, tenetur? Illum,
                                        ducimus.</p>
                                    <i class="ri-arrow-right-up-line"></i>
                                </div>
                                <div class="page5-elem">
                                    <div class="over"></div>
                                    <h3>UI Design</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus consequatur
                                        error, enim in iure distinctio, pariatur quibusdam nobis dolor laborum nulla
                                        animi mollitia voluptas odit, praesentium magni. Exercitationem, tenetur? Illum,
                                        ducimus.</p>
                                    <i class="ri-arrow-right-up-line"></i>
                                </div>
                                <div class="page5-elem">
                                    <div class="over"></div>
                                    <h3>UX Audit</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus consequatur
                                        error, enim in iure distinctio, pariatur quibusdam nobis dolor laborum nulla
                                        animi mollitia voluptas odit, praesentium magni. Exercitationem, tenetur? Illum,
                                        ducimus.</p>
                                    <i class="ri-arrow-right-up-line"></i>
                                </div>
                            </div>
                        </details>
                    </div>
                </div>
            </div>
        </div>
        <div id="page6">
            <h1>Work Distribution</h1>
            <div id="page6-content">
                <div id="blue-btn">
                    <h4>See all Case Studies <i class="ri-arrow-right-up-line"></i></h4>
                    <h4>See all Case Studies <i class="ri-arrow-right-up-line"></i></h4>
                </div>
                <div id="right-6">
                    <p> the process for developing the "AI Avatar Interview Bot" project. It begins with requirements gathering to understand project goals and user needs. Then, appropriate technologies are selected based on scalability and compatibility. Chatbot development involves setting up a development environment, implementing natural language processing for user input understanding, and creating dialogue management logic. Avatar rendering includes selecting or creating avatar models, implementing rendering functionality, and integrating customization options.  </p>
                    <p>Voice synthesis technology is chosen and implemented for text-to-speech functionality. Backend development entails setting up a server, developing APIs for user requests and data processing, and implementing database functionality. Frontend development focuses on creating a web or mobile interface with intuitive UIs and integrating chatbot and avatar components. API integration ensures seamless communication between different components.</p>

                </div>
            </div>
            <div id="page6-bottom">
                <div id="btm6-part1" class="btm6-parts"></div>
                <div id="btm6-part2" class="btm6-parts">
                    <h5>Project Strategy</h5>
                    <h4><span>1</span>AI avatar Model</h4>
                    <h4><span>2</span>gemini API key</h4>
                    <h4><span>3</span>MakeIt talk</h4>
                    <h4><span>4</span>research Paper</h4>
                    <h4><span>5</span>UX Research</h4>
                    <h4><span>6</span>Fundamentals of LLM AI & ML</h4>
                </div>
                <div id="btm6-part3" class="btm6-parts">
                    <h5>UX UI Design</h5>
                    <h4><span>1</span>ATHARVA </h4>
                    <h4><span>2</span>OMKAR </h4>

                </div>
                <div id="btm6-part4" class="btm6-parts">
                    <h5>RESEARCH</h5>
                    <h4><span>1</span>PARTH</h4>
                    <h4><span>2</span>SHAUNAK </h4>
                </div>
            </div>
        </div>
        <div id="page7">
            
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
        integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"
        integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="/static/js/interface.js"></script>
    
</body>

</html>